<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xiaozhuo.info.persist.mapper.ConsumeAmountMapper" >
  <resultMap id="BaseResultMap" type="xiaozhuo.info.persist.base.ConsumeAmount" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="creater_name" property="createrName" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`, `type`, `year`, `month`, `day`, amount, creater_name, gmt_create, gmt_modify
  </sql>
  
  <sql id="selectByParamsWhere">
    <where>
	  <if test="year != null">
        `year` = #{year,jdbcType=INTEGER} and
	  </if>
      <if test="month != null">
        `month` = #{month,jdbcType=INTEGER} and
      </if>
      <if test="day != null">
        `day` = #{day,jdbcType=INTEGER} and
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR} and
      </if>
      <if test="createrName != null">
        creater_name = #{createrName,jdbcType=VARCHAR} and
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR} and
      </if>
        1 = 1
    </where>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from aiinfo_consume_amount
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAmountsByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from aiinfo_consume_amount
    <include refid="selectByParamsWhere" />
      order by gmt_create desc
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>

  <select id="selectAmountData" resultType="java.lang.Long" parameterType="java.util.Map" >
    select sum(amount) as amount
    from aiinfo_consume_amount
    <include refid="selectByParamsWhere" />
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from aiinfo_consume_amount
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="xiaozhuo.info.persist.base.ConsumeAmount" >
    insert into aiinfo_consume_amount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        `name`,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="year != null" >
        `year`,
      </if>
      <if test="month != null" >
        `month`,
      </if>
      <if test="day != null" >
        `day`,
      </if>
      <if test="createrName != null" >
        creater_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
        gmt_create,
        gmt_modify
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
      <if test="createrName != null" >
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xiaozhuo.info.persist.base.ConsumeAmount" >
    update aiinfo_consume_amount
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INT},
      </if>
      <if test="year != null" >
        `year` = #{year,jdbcType=INTEGER},
      </if>
      <if test="month != null" >
        `month` = #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        `day` = #{day,jdbcType=INTEGER},
      </if>
      <if test="createrName != null" >
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
        gmt_modified = NOW()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>