<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xiaozhuo.info.persist.mapper.IdeaMapper" >
  <resultMap id="BaseResultMap" type="xiaozhuo.info.persist.base.Idea" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, time, content, gmt_create, gmt_modify
  </sql>
  <sql id="selectByParamsWhere">
    <where>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT} and
      </if>
	  <if test="time != null">
        `time` like CONCAT(CONCAT('%', #{time,jdbcType=VARCHAR}), '%') and
      </if>
      <if test="content != null">
        content like CONCAT(CONCAT('%', #{content,jdbcType=VARCHAR}), '%') and
      </if>
      1 = 1
    </where>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from aiinfo_idea
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectIdeasByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from aiinfo_idea
    <include refid="selectByParamsWhere" />
      order by gmt_create desc
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from aiinfo_idea
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="xiaozhuo.info.persist.base.Idea" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
    insert into aiinfo_idea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="time != null" >
        `time`,
      </if>
      <if test="content != null" >
        content,
      </if>
        gmt_create,
        gmt_modify
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xiaozhuo.info.persist.base.Idea" >
    update aiinfo_idea
    <set >
      <if test="time != null" >
        `time` = #{time,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
        gmt_modify = NOW()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>